.de_tax > table,
.de_tax > td,
.de_tax > span,
.de_tax > div {
    font-family: Helvetica, Arial;
}
.de_tax_act_as_table {
    display: table;
}
.de_tax_act_as_row {
    display: table-row !important;
    page-break-inside: avoid;
}
.de_tax_act_as_cell {
    display: table-cell;
    page-break-inside: avoid;
    font-size: 18px;
}
.de_tax_act_as_row.labels {
    background-color: #f0f0f0;
}
.de_tax_table {
    width: 100%;
    table-layout: fixed;
    border-left: 0px;
    border-right: 0px;
    text-align: left;
    font-size: 18px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-collapse: collapse;
}
.de_tax_table .de_tax_act_as_cell {
    border-bottom: 1px solid lightGrey;
    text-align: center;
    word-wrap: break-word;
}
.de_tax_table .de_tax_act_as_row.labels {
    font-weight: bold;
}
.de_tax_act_as_cell.right {
    word-wrap: normal;
    text-align: right;
}
.de_tax_act_as_cell.left {
    text-align: left;
}
.de_tax_footer {
    font-size: 18px;
}
